<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despre Noi - Off Course Map</title>
    <link rel="stylesheet" href="/styles/about-us.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/login" class="logo">
                <img src="/logo/logo.jpeg" alt="Logo">
            </a>
            <ul class="nav-items">
                <li><a id="login" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>About 📍</h2>
        <p>Bine ai venit pe Off-Course, platforma dedicată pasionaților de explorare urbană, care doresc să descopere comorile ascunse și abandonate ale României.</p>

        <h2>Acces Limitat 🚫</h2>
        <p>Off-Course este un site „invite only”, ceea ce înseamnă că accesul este rezervat celor care sunt cu adevărat pasionați de explorarea urbană (și responsabili). Dacă dorești să te alături, te rugăm să ne contactezi pentru o invitație.</p>

        <h2>Cum Functioneaza 🗺️</h2>
        <p>Folosind Google Maps API, am cartografiat numeroase locuri abandonate din întreaga Românie. Interfața site-ului îți permite să localizezi și să explorezi aceste locații ascunse ușor. Similar cu Pokémon GO, poți să primești EXP pentru fiecare locație vizitată și să dai level up.</p>

        <h2>Alatura-te Comunitatii Noastre 🤝</h2>
        <p>Explorarea urbană este mai plăcută atunci când este împărtășită. Te invităm să te alături serverului nostru dedicat Urbex Romania pe Discord. <a href="https://discord.gg/ykv9DvJHsP" class="discord-button">LINK 🔗</a></p>
    </div>

</body>
</html>
